.freeboard-wrapper {
  width: 970px;
  .freeboard-title {
    margin-bottom: 10px;
  }
  .freeboard-body {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
  }
  .freeboard-searchbar {
    display: flex;
    justify-content: center;
  }
}
.ant-table-row {
  cursor: pointer;
}
