.header-center {
  width: 1000px;
  height: 152px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navWrap {
  background-color: #4a56a8;
  border: 1px solid #3c4790;
  .topNav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    li {
      color: #fff;
    }
  }
}
