.container-left {
  float: left;
  width: 800px;
  .container-down {
    margin-top: 20px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    height: 200px;
    .container-down-inner {
      float: left;
      width: 33%;
    }
    .container-down-inner-1 {
      float: left;
      width: 32%;
    }
  }
}
.container-right {
  float: right;
  width: 250px;
  .login-wrap {
    margin-top: 20px;
    width: 248px;
    height: 168px;
    color: #333;
    .register-button {
      float: right;
    }
  }
}
