.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  .footer-nav {
    height: 30px;
    background-color: #3a6ae4;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
    }
  }
  .footer-contents {
    display: flex;
    justify-content: center;
    position: sticky;
    margin: 5px;
    width: 100%;
    background: white;
    .footer-contents-inner {
      .copyright {
        font-size: 12px;
      }
    }
  }
}
